
.card-body{
    background-color: goldenrod;
    color: black;
    h2 {
        font-family: fantasy;
        margin: 15px;
        text-align: center;
    }

    p {
        font-family: unset;
        text-align: center;
    }
}